In [1]:
import pandas as pd
import numpy as np
import common

In [2]:
from Data import Mmse, Moca, Cdr, Merge, Ecogsp, Adas

In [3]:
npas = [Moca().data,  Mmse().data, Cdr().data, Ecogsp().data, Adas().data]

mergeData = Merge().data

Moca ready!
MMSE ready!
CDR ready!
Ready!

In [4]:
# labels = [x for npa in npas for x in npa]

In [5]:
codes = ["RID", "VISCODE"]
fieldsToDrop = ["ID", "SITEID", "Phase"]

In [6]:
for i in range(len(npas)):
    for j in fieldsToDrop:
        try:
            npas[i] = npas[i].drop(j, axis=1)
        except:
            continue

npas[0]

,RID,VISCODE,TRAILS,CUBE,CLOCKCON,CLOCKNO,CLOCKHAN,LION,RHINO,CAMEL,...,DELW3,DELW4,DELW5,DATE,MONTH,YEAR,DAY,PLACE,CITY,MOCA
0,626,m48,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,3.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,17.0
1,1326,m36,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,13.0
2,2043,bl,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,27.0
3,2071,bl,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,...,3.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,20.0
4,2036,bl,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6890,6591,m24,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,29.0
6891,6830,m12,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,2.0,2.0,1.0,1.0,0.0,1.0,1.0,1.0,17.0
6892,4813,m96,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,26.0
6893,6224,m36,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,24.0
6894,6784,m12,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,3.0,2.0,3.0,0.0,1.0,1.0,0.0,1.0,1.0,20.0

In [8]:
def joinNpas(lst):
    if len(lst) == 1:
        return lst[0].set_index(codes)
    return lst[0].set_index(codes).join(joinNpas(lst[1:]))

data = joinNpas(npas).reset_index()

In [9]:
data.to_csv("Data/local/teste.csv")

In [10]:
data

,RID,VISCODE,TRAILS,CUBE,CLOCKCON,CLOCKNO,CLOCKHAN,LION,RHINO,CAMEL,...,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q14,ADAS11,ADAS13
0,1004,m60,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1004,m72,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1004,m84,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1007,m60,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,101,m72,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6669,994,m72,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6670,994,m84,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6671,994,m96,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6672,997,m48,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6673,997,m60,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.loc[data["RID"] == "1412"]

In [ ]:
npas[len(npas)-1]

In [ ]:
data